/**
 * Custom Styles here.
 *
 * ref：https://v1.vuepress.vuejs.org/config/#index-styl
 */

.home .hero img
  max-width 400px!important
  border-radius 14px
  filter drop-shadow(2px 2px 5px #000)

.theme-default-content:not(.custom)
    max-width 1000px
    margin 0 auto
    padding 3rem