/**
 * Custom Styles here.
 *
 * ref：https://v1.vuepress.vuejs.org/config/#index-styl
 */

h1
  color $accentColor

.home .hero img
  max-width 400px!important
  border-radius 14px
  filter drop-shadow(2px 2px 5px #000)

.theme-default-content:not(.custom)
    max-width 1000px
    margin 0 auto
    padding 3rem

#welcome
  padding-left 0

#welcome li
  padding 10px
  margin 5px  
  border 1px solid lightgrey
  border-radius 14px

.theme-default-content pre[class*=language-] code, 
.theme-default-content pre code
  color #7ec699
  padding 0
  background-color transparent
  border-radius 0